/* Apps & Themes page */

.page-title-container.section-2 {
    padding-top: 0;
}

.page-title-container.section-2 .page-title {
    margin-bottom: 7px;
}

#long-desc {
    font-size: medium;
    font-weight: 450;
    width: 95%;
    padding-top: 10px;
}

.app-type {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: start;
    overflow: hidden;
    padding: 7px 0;
}

.app-type p {
    font-size: small;
    padding: 0 13px;
    color: rgba(var(--color-primary), 0.7);
}

#first-apptype {
    padding-left: 0;
}

/* Button */

.buttons-container {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 7px 0;
}

.download-button {
    width: fit-content;
    height: 36px;
    padding: 0 25px;
    margin: 0 5px 0 0;
    border: 0;
    background-color: #ff6738;
    border-radius: 4px;
    color: #fcfcfc;
    font-size: small;
    cursor: pointer;
    transition: all .2s ease;
}

.download-button:hover {
    background-color: #ff835e;
    transition: all .2s ease;
}

.secondary-button {
    width: fit-content;
    height: 36px;
    padding: 0 22px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #ff774e;
    border-radius: 4px;
    color: #ff774e;
    font-size: small;
    cursor: pointer;
    transition: all .2s ease;
}

.secondary-button:hover {
    background-color: #ff774e23;
    transition: all .2s ease;
}

#winner-text {
    font-size: small;
    font-weight: 400;
}