/* Class of section texts in child containers */

.gallery-text-container {
    position: absolute;
    margin-left: 30px;
    margin-bottom: 10px;
    bottom: -25px;
    z-index: 1;
    pointer-events: none;
}

.gallery-image-title, .sec-description {
    color: whitesmoke;
}

.gallery-image-title {
    font-size: 26px;
    margin-bottom: 0px;
    transform: translateY(-30px);
    transition: all .33s ease;
    opacity: 0;
}

.child-gallery-container:hover {
    cursor: pointer;
}

/* ----- HOME LINKS HOVER ----- */

#link-1:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-2:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-3:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-4:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-5:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-6:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-7:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-8:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-9:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

#link-10:hover .gallery-image-title {
    transform: translateY(-40px);
    transition: all .33s ease;
    opacity: 1;
}

/* --- Gallery content container --- */

.child-gallery-container {
    width: 22%;
    margin: 10px 10px;
    z-index: 1;
}

.gallery-content-container {
    height: 600px;
    position: relative;
}

/* --- Class of images in child containers --- */

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.33s ease;
}

.gallery-image:hover {
    /* After state for hover */
    transition: all 0.33s ease;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.5);
    /* duplicated for some browsers */
}

/* --- Full screen image --- */

#fscreen-img1, #fscreen-img2, #fscreen-img3, #fscreen-img4, #fscreen-img5, #fscreen-img6, #fscreen-img7, #fscreen-img8, #fscreen-img9, #fscreen-img10 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(0px);
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: all .33s ease;
}

#fscreen-img1.fscreen-img1-active, #fscreen-img2.fscreen-img2-active, #fscreen-img3.fscreen-img3-active, #fscreen-img4.fscreen-img4-active, #fscreen-img5.fscreen-img5-active, #fscreen-img6.fscreen-img6-active, #fscreen-img7.fscreen-img7-active, #fscreen-img8.fscreen-img8-active, #fscreen-img9.fscreen-img9-active, #fscreen-img10.fscreen-img10-active {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: all .33s ease;
}

/* image title & description container */

.image-info-container {
    margin-left: 25px;
    position: relative;
    bottom: -20px;
}

/* image title & description */

.image-title, .image-desc {
    color: whitesmoke;
}

.image-title {
    font-size: 45px;
    margin: -5px auto;
}

.image-desc {
    font-size: 17px;
    width: 35vw;
    line-height: 24px;
    margin-bottom: 20px;
}

/* image styling */

.full-image {
    position: relative;
    display: flex;
    height: 90vh;
}

/* close button */

.ph-x-light {
    color: whitesmoke;
    font-size: 40px;
    position: absolute;
    top: 3%;
    right: 3%;
    transition: all .33s ease;
    z-index: 5;
}

.ph-x-light:hover {
    transition: all .33s ease;
    cursor: pointer;
    color: #ff6639;
}

/* color palette */

.palette-container {
    justify-content: end;
    display: flex;
}

.palette-box {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-left: 15px;
    transition: all .33s ease;
}

.palette-box:hover {
    transition: all .33s ease;
    cursor: pointer;
    opacity: .6;
}

/* End of page call to action */

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    padding-top: 50px;
}

.cta-h1 {
    margin: 0 auto;
    font-size: 32px;
}

.cta-h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.cta-chat-text {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cta-line {
    width: 60%;
    border-top: solid 2px rgba(245, 245, 245, 0.233);
}

/* CTA buttons */

.cta-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.cta-button-1, .cta-button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border: none;
    font-size: 13px;
    width: 185px;
    height: 45px;
    font-family: Manrope;
}

.cta-button-1:hover, .cta-button-2:hover {
    cursor: pointer;
}

.cta-button-1 {
    transition: all 0.33s ease;
    background-color: #24acf2;
    border: solid 2px #24acf2;
}

.cta-button-1:hover {
    border: solid 2px #24acf2;
    background-color: #24acf257;
}

.cta-button-2 {
    transition: all 0.33s ease;
    border: solid 2px #566fff;
    background-color: #566fff;
}

.cta-button-2:hover {
    background-color: #566fff5c;
}

.cta-icon-1, .cta-icon-2 {
    padding-right: 5px;
}

.cta-icon-1 {
    font-size: 18px;
}

.cta-icon-2 {
    font-size: 16px;
}

/* --- Tablet Responsive --- */

@media only screen and (max-width: 1080px) {
    .gallery-content-container {
        height: 450px;
        position: relative;
    }
    /* Child section container */
    .child-gallery-container {
        width: 30%;
        margin: 10px 10px;
    }
    /* Responsive text size */
    .gallery-image-title {
        font-size: 25px;
    }
    /* Class of section texts in child containers */
    .gallery-text-container {
        margin-left: 15px;
    }
    /* ----- Keeping Image Titles Static ----- */
    .gallery-image-title {
        font-size: 26px;
        margin-bottom: 0px;
        transform: translateY(-30px);
        transition: all .33s ease;
        opacity: 1;
    }
}

/* --- Mobile Responsive --- */

@media only screen and (max-width: 720px) {
    /* Child section container */
    .child-gallery-container {
        width: 45%;
        margin: 5px 5px;
    }
    /* ----- HOME LINKS HOVER MOBILE ----- */
    #link-1:hover .sec-title {
        transform: translateY(-20px);
        transition: all .33s ease;
    }
    /* --- Full screen image --- */
    #fscreen-img1, #fscreen-img2, #fscreen-img3, #fscreen-img4, #fscreen-img5, #fscreen-img6, #fscreen-img7, #fscreen-img8, #fscreen-img8 {
        flex-direction: column;
    }
    /* image title & description container */
    .image-info-container {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .image-title {
        font-size: 30px;
    }
    .image-desc {
        font-size: 14px;
        width: 90vw;
        margin-bottom: 20px;
    }
    /* image styling */
    .full-image {
        position: relative;
        display: flex;
        object-fit: cover;
        width: 90vw;
        height: 30vh;
    }
    /* color palette */
    .palette-container {
        justify-content: center;
    }
    .palette-box {
        width: 35px;
        height: 35px;
    }
    /* End of page call to action */
    .cta-h1 {
        font-size: 25px;
    }
    .cta-h3 {
        font-size: 18px;
    }
    /* CTA buttons */
    .cta-button-container {
        width: 100%;
        justify-content: space-between;
    }
    .cta-button-1, .cta-button-2 {
        border: none;
        width: 145px;
    }
    .cta-button-1 {
        transition: all 0.33s ease;
        background-color: #24acf2;
        border: solid 2px #24acf2;
    }
    .cta-button-1:hover {
        border: solid 2px #24acf2;
        background-color: #24acf257;
    }
    .cta-button-2 {
        transition: all 0.33s ease;
        border: solid 2px #566fff;
        background-color: #566fff;
    }
    .cta-button-2:hover {
        background-color: #566fff5c;
    }
    .cta-icon-1, .cta-icon-2 {
        padding-right: 5px;
    }
    .cta-icon-1 {
        font-size: 18px;
    }
    .cta-icon-2 {
        font-size: 16px;
    }
}