

#paint-bucket-white {
    fill: rgb(var(--color-primary));;
}

#paint-bucket-icon {
    width: 22px;
    padding-right: 15px;
}

.page-title {
    display: flex;
    align-items: center;
    margin: 0;
}

.page-title-container {
    padding: 60px 0;
    padding-top: 30px;
}

.page-title-container p {
    font-size: large;
}

/* Grid */

.ph-arrows-out {
    font-size: large;
    padding-top: 3px;
}

.item-image {
    max-height: 100%;
    object-fit: cover;
}

/* Logoflio Page */

.item-type-compact p {
    margin-bottom: 0;
}

/* Long previews */

.long-preview {
    height: 600px;
    filter: brightness(1);
    transition: filter 300ms ease;
}

.long-preview:hover {
    filter: brightness(0.8);
    transition: filter 300ms ease;
}

/* --- Mobile --- */

@media screen and (max-width: 900px) {
    .landing-title {
        font-size: x-large;
    }
}

@media screen and (max-width: 600px) {
    .landing-title {
        font-size: x-large;
    }
    #paint-bucket-icon {
        width: 22px;
    }
    .page-title-container p {
        font-size: medium;
    }
}