/* Buttons */

.buttons-container {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 7px 0;
}

.download-button, .purchase-button {
    width: fit-content;
    height: 36px;
    padding: 0 25px;
    margin: 0 5px 0 0;
    border: 0;
    background-color: #3bc679;
    border-radius: 4px;
    color: #ffffff;
    font-size: small;
    cursor: pointer;
    transition: all .2s ease;
}

.download-button:hover, .purchase-button:hover {
    background-color: #6adf9f;
    transition: all .2s ease;
}

.secondary-button, .price-button {
    width: fit-content;
    height: 36px;
    padding: 0 22px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #3bc679;
    border-radius: 4px;
    color: #2eac67;
    font-size: small;
    cursor: pointer;
    transition: all .2s ease;
}

.secondary-button:hover {
    background-color: #3bc67921;
    transition: all .2s ease;
}

/* Other styles */

#store-title {
    padding-bottom: 30px;
}

#store-title-2 {
    padding: 0 0 30px 0;
}

#item-label {
    font-size: 15px;
    color: rgba(var(--color-primary), 0.6);
}

#item-description {
    font-size: 18px;
    width: 95%;
}

.price-button {
    background: none rgb(29 151 83 / 85%);
    color: white;
    padding: 0 15px;
    margin-left: 0;
    border-radius: 4px 0 0 4px;
    pointer-events: none;
}

.purchase-button {
    margin-left: -10px;
    border-radius: 0 4px 4px 0;
}

/* Warning popup styling */

#warning-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.705);   
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity .2s ease;
    pointer-events: all;
}

#warning-container.warning-shown {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

.warning-card {
    background-color: rgb(252, 252, 252);
    border-radius: 4px;
    padding: 30px;
    margin: auto;
    width: 350px;
    height: 190px;
}

.warning-card h3, .warning-card p {
    color: rgb(47, 47, 47);
}