/* Body */

html {
    font-family: 'Manrope', sans-serif;
    padding: 0 60px;
}

/* Dark Mode */


html {
    --background-primary: #FCFCFC;
    --color-primary: #2F2F2F;
    --color-secondary: #626262;
    --color-superlight: #B4B4B4;
}

html[data-theme='dark'] {
    --background-primary: #141414;
    --color-primary: #F5F5F5;
    --color-secondary: #9F9F9F;
    --color-superlight: #707070;
}

html {
    transition: color 250ms, background-color 250ms;
    background: var(--background-primary);
    color: var(--color-primary);
}

h1, h2 {
    color: var(--color-primary);
}

h3, p {
    color: var(--color-secondary);
}

[data-theme="dark"] .light-icon {
    display: none;
}

[data-theme="light"] .dark-icon {
    display: none;
}

.light-icon, .dark-icon {
    padding-top: 3px;
    padding-left: 10px;
}

.light-icon:hover, .dark-icon:hover {
    cursor: pointer;
}

#divider-line {
    color: var(--color-superlight);
}

/* /// */

a {
    text-decoration: none;
    color: inherit;
    transition: color .2s ease;
}

a:hover {
    color: #FF6738;
    transition: color .2s ease;
}

::selection {
    background-color: #FF8F6D;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.226);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0202022f;
}

::-webkit-scrollbar-thumb:hover {
    background: #0202026b;
}

/* Animate when page loads */

header {
    animation: page-load 500ms ease;
}

main {
    animation: page-load-items 700ms ease;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
}

/* Logo and text */

.brand-container {
    float: left;
    display: flex;
    align-items: center;
}

.logo-svg {
    width: 35px;
    height: 35px;
}

.name {
    margin-left: .5em;
}

/* Navigation buttons */

.nav-container {
    width: 100%;
}

.slide-nav-container {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 60px;
    top: -60px;
    /* Hide the navbar 50 px outside of the top view */
    transition: top 0.4s ease;
    background-color: var(--background-primary);
}

.slide-nav-container .brand-container {
    flex-shrink: 0;
    padding-left: 60px;
}

.slide-navlist-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

/* rescale */

.slide-nav-container .logo-svg {
    width: 30px;
    height: 30px;
}

.slide-nav-container h2 {
    font-size: large;
}

.slide-nav-container li {
    font-size: 15px;
}

.nav-list {
    float: right;
    text-decoration: none;
    list-style: none;
    display: flex;
    font-weight: 500;
}

li {
    padding: 0 20px;
}

/* Landing title */

.landing-title {
    font-size: xx-large;
    padding: 50px 0;
    padding-top: 40px;
}

/* Item containers */

.items-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: start;
    overflow: hidden;
}

.item-title {
    padding-top: 20px;
}

/* Sub-items styling */

.item-image {
    width: 28vw;
    border-radius: 4px;
}

.item-type-compact {
    margin-bottom: 60px;
    flex-basis: calc(100% / 3);
}

.item-type-compact h2 {
    margin: 0;
}

.item-type-compact h3 {
    margin-top: 5px;
    font-weight: 400;
}

.item-title {
    display: flex;
    align-items: center;
    width: fit-content;
}

#hover-arrow {
    transition: all .2s ease;
    opacity: 0;
}

.item-title-text:hover~#hover-arrow {
    transform: translate(12px, 0);
    opacity: 1;
    color: #FF6738;
}

/* Footer */

footer {
    border-top: solid #62626231 1px;
    padding-top: 20px;
    margin-top: 40px;
    padding-bottom: 35px;
}

footer p {
    float: left;
    margin: 0;
    font-size: 13px;
}

footer div {
    float: right;
}

#heart-icon {
    color: #e94a4a;
    font-size: 14px;
}

.social-icons {
    font-size: 20px;
    padding: 0 20px;
    padding-top: auto;
}

.social-icons:hover {
    transition: all .2s ease;
    color: #FF6738;
}

.twitter {
    transition: all .2s ease;
    color: #25b3f5;
}

.youtube {
    transition: all .2s ease;
    color: #e94a4a;
}

.google-play {
    transition: all .2s ease;
    color: #4285f4;
}

/* --- Mobile --- */

@media screen and (max-width: 900px) {
    html {
        padding: 0 30px;
    }
    ul li {
        display: none;
    }
    .light-icon, .dark-icon {
        font-size: large;
    }
    .landing-title {
        font-size: x-large;
    }
    .items-container {
        display: flex;
        flex-wrap: wrap;
    }
    .item-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .item-type-compact {
    flex-basis: 100%;
    }
}

@media screen and (max-width: 600px) {
    html {
        padding: 0 20px;
    }
    .landing-title {
        font-size: 21px;
    }
    .item-image {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .social-icons {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 40px;
    }
}

/* Animation Keyframes */

@keyframes page-load {
    0% {
        transform: translate(0, -80px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}

@keyframes page-load-items {
    0% {
        transform: translate(0, -80px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}