/* For Material Design Icon font*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }



/* ----- Typography -----*/

html {
    overflow: hidden;       /* Hide scrollbars */
    -webkit-tap-highlight-color: #ffffff17;     /* For mobile: Color for when user taps an image link or something to replace default blue */
    cursor: none;
}

.cursor {
    z-index: 3;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.514);
    border-radius: 50%;
    position: absolute;
    transition-duration: 20ms;
    transition-timing-function: ease;
    animation: cursorAnim 1s infinite alternate;
    pointer-events: none;
}

body {
    font-family: Manrope;
}

a, a:visited {
    transition: all 0.33s ease;
    color: white;
    text-decoration: none;
    cursor: none;
}

.myname {
    font-size: 20px;
}

.myname, .title-text {
    font-family: Manrope;
    font-weight: 800;
}

.motto {
    font-family: Manrope;
    font-weight: 400;
    font-size: 15px;
}


/* ----- Remove default margin ----- */
body {
    margin: 0px 0px;
    cursor: none;
}


/* ----- Hamburger Icon animation ----- */
.hamburger, .info-text {
    z-index: 2;
    align-items: center;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3.5px;
    background-color: rgb(252, 252, 252);
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-2px, 2px);
  }

  .change .info-text {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-3.5px, -3.5px);
  }


/* ----- Hamburger Itself ----- */
.hamburger {
    transform: none;
}


/* ----- Hamburger Menu -----*/
#hamburger-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    background-color: rgba(29, 29, 29, 0.699);
    opacity: 0;
    transform: translateY(-100%);
  }

#hamburger-menu.hamburger-active {
    transform: translateY(0px);
    opacity: 1;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    
}

.menu-items {
    transition: all .33s ease;
    padding: 0;
    top: 50%;
    width: 100%;
    font-weight: 800;
    list-style: none;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items-list  {
    transition: all 0.33s ease;
    padding: 0px 70px;
    font-size: 35px;
    color: white;
}

.menu-items-list, a:hover {
    transition: color 0.33s ease;
    color: #ff6738;
    cursor: none;
}

/* Social Icons */

.social-links {
    transition-delay: 1s;
    transition: all .33s ease;
    bottom: 5%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon  {
    transition: all 0.33s ease;
    padding: 0px 20px;
    font-size: 25px;
    color: white;
}
.social-icon:hover  {
    color: #ff6738;
}


/* ----- Page elements ----- */
.header-text {
    width: 93%;                 /* Adding space around the header */
}

header {
    margin: auto;               /* Centering header to the page */
    margin-top: 20px;
    position: absolute;         /* To make sure all other elements are under it */
    top: 0;
    left: 0;
    right: 0;
}

.logo-container {
    align-items: center;        /* Aligning items inside div to center*/
    flex: 1;
    display: flex;              /* Making the logo take entire width of the header*/
    margin: 0% 2%;
    margin-right: 10px;
}

.logo-image {
    filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(114deg) brightness(109%) contrast(97%);
    padding-right: 10px;
}

.logo-image:hover {
    /* Logo color in filter because SVG */
    filter: invert(47%) sepia(56%) saturate(1914%) hue-rotate(337deg) brightness(103%) contrast(101%);
}


/* Header title and text */
.header-text {
    color: white;
    line-height: 5px;           /* Removing empty space between name and other text */
}

.title-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}



/* Flex Container / Main Pages*/
.flex-container {
    display: flex;
    flex-direction: row;    /* Horzontal flexbox */
    height: 100%;
    width: 100%;
    position: absolute; 
    z-index: -1;            /* Keeps it in the back */

    justify-content: left;  /* Starts from the left */
    scroll-behavior: smooth;
    overflow: hidden;       /* Hide scrollbars */
  
}

.flex-text-container {
    position: absolute;
}

/* Horizontal scroll class */
.wrapper-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.flex-items {
    min-width: 350px;       /* maximum size of per image */
    position: relative;
}


/* Section title/heading -- Section textx -- */
.flex-item-header, .flex-item-desc {      /* Applies common styles once */
    z-index: 2;            /* Keeps it in the back */
    color: white;
    position: absolute;
    margin-left: 35px;
    bottom: 8vh;
    transition: all .33s ease;
}

/* Section description */
.flex-item-desc {
    bottom: 7vh;
    font-weight: 400;
    transform: translateY(-20px);
    transition: all .33s ease;
    opacity: 0;
}

/* ----- HOME LINKS HOVER ----- */
#first-link:hover .flex-item-desc {
    transition: all .33s ease;
    transform: translateY(0);
    opacity: 1;
}

#first-link:hover .flex-item-header {
    transition: all .33s ease;
    bottom: 10vh;
}

/* --- */

#second-link:hover .flex-item-desc {
    transition: all .33s ease;
    transform: translateY(0);
    opacity: 1;
}

#second-link:hover .flex-item-header {
    transition: all .33s ease;
    bottom: 10vh;
}

/* --- */

#third-link:hover .flex-item-desc {
    transition: all .33s ease;
    transform: translateY(0);
    opacity: 1;
}

#third-link:hover .flex-item-header {
    transition: all .33s ease;
    bottom: 10vh;
}

/* --- */

#fourth-link:hover .flex-item-desc {
    transition: all .33s ease;
    transform: translateY(0);
    opacity: 1;
}

#fourth-link:hover .flex-item-header {
    transition: all .33s ease;
    bottom: 10vh;
}

/* --- */

#fifth-link:hover .flex-item-desc {
    transition: all .33s ease;
    transform: translateY(0);
    opacity: 1;
}

#fifth-link:hover .flex-item-header {
    transition: all .33s ease;
    bottom: 10vh;
}

/* --- */

.global-home-image-class {
    /* Before state for hover */
    transition: all 0.33s ease;
    object-fit: cover;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.global-home-image-class:hover {
    /* After state for hover */
    transition: all 0.33s ease;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);    /* duplicated for some browsers */
}


/* ---- Navigation arrows ---- */
i.arrow-R {
    position: absolute;
    bottom: 50%;
    right: 20px;

    width: 40px;
    height: 40px;
    fill: white;
    font-size: 40px;
}

i.arrow-L {
    position: absolute;
    bottom: 50%;
    left: 20px;

    width: 40px;
    height: 40px;
    fill: white;
    font-size: 40px;
}


/* Keyframes for cursor animation */
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}


/* Making it responsive */
@media only screen and (max-width: 720px) {

    /* List item size change */
    .menu-items-list  {
        padding: 0px 15px;
        font-size: 25px;
    }
    
    .social-icon  {
        font-size: 22px;
    }

    /* Making header text disappear */
    .header-text {
        visibility: hidden;
    }


    /* Header elements */
    .logo-container {
        align-items: center;        /* Aligning items inside div to center*/
        flex: 1;
        display: flex;              /* Making the logo take entire width of the header*/
        margin: 0% 5%;
    }

    .flex-items {
        min-width: 390px;       /* maximum size of per image */
    }


    /* Make normal scrolling possible on mobile */
    .flex-container {
        overflow: scroll;
        display: flex;
    }
    #wrapper::-webkit-scrollbar {
        display: none;
    }


    /* Hide cursor on mobile */
    .cursor {
        width: 0;
        height: 0;
        visibility: hidden;
    }


    /* Navigation arrows */
    i.arrow-R {
        opacity: 0.3;
        right: 5px;
    }
    
    i.arrow-L {
        opacity: 0.3;
        left: 5px;
    }


    /* hamburger animation */
    #hamburger-menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        background-color: rgba(29, 29, 29, 0.699);
        opacity: 0;
        transform: translateY(0px);
        z-index: -1;
      }
    
    #hamburger-menu.hamburger-active {
        transform: translateY(0px);
        opacity: 1;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(15, 15, 15);
    }


    /* Header */
    .bar1, .bar2, .bar3 {
        width: 26px;
        height: 3px;
        background-color: rgb(252, 252, 252);
        margin: 5px 0;
        transition: 0.4s;
    }

    .hamburger {
        justify-self: flex-end;     /* Keeps logo and hamburger in center */
    }

    header {
        margin-top: 15px;
    }

        .logo-image {
            width: 35px;
            height: 35px;
      }


      /* Section Texts */
    .flex-item-header, .flex-item-desc {
        transform: translateY(20px);
        opacity: 1;
    }

    /* Remove hover effects */

    .flex-item-header {
        bottom: 10vh;
    }
    
    /* --- */
    #first-link:hover .flex-item-desc {
        transform: translateY(20px);
        opacity: 1;
    }
    
    #second-link:hover .flex-item-desc {
        transform: translateY(20px);
        opacity: 1;
    }
    
    #third-link:hover .flex-item-desc {
        transform: translateY(20px);
        opacity: 1;
    }
    
    #fourth-link:hover .flex-item-desc {
        transform: translateY(20px);
        opacity: 1;
    }
    
    #fifth-link:hover .flex-item-desc {
        transform: translateY(20px);
        opacity: 1;
    }
    

}